.navbar {
  margin-bottom: 0;
}

p {
  font-size: 1.4em;
}

.spacer {
  padding-top: 2em;
  padding-bottom: 1em;
}

footer {
  background-color: rgb(236, 240, 241);
  height: 9em;
  margin-top: 4em;
}
